.assignfeedback_cloudpoodll_recording_cont {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    background-image: url([[pix:assignfeedback_cloudpoodll|loader]]);
    background-repeat: no-repeat;
    background-position: center center;
}

.assignfeedback_cloudpoodll_center {
    text-align: center;
}

.assignfeedback_cloudpoodll_center > div, .assignfeedback_cloudpoodll_center > table /* insert any other block-level elements here */
{
    margin-left: auto;
    margin-right: auto;
}

button.assignfeedback_cloudpoodll_deletesubmissionbutton {
    margin-top: 10px;
    max-width: 180px;
}

/* interactive transcript */
.assignfeedback_cloudpoodll_transcriptcontainer {
    max-width: 480px;
    width: 100%;
    font-family: Arial, sans-serif;
   /* overflow-x: scroll; */
    /* max-height: 298px; */
    border: 1px solid #111;
}

.assignfeedback_cloudpoodll_transcript-header {
    height: 19px;
    padding: 1px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}

.assignfeedback_cloudpoodll_transcript-selector {
    height: 25px;
}

.assignfeedback_cloudpoodll_transcript-body {
    /* width: 600px; */
    overflow-y: scroll;
    background-color: #e7e7e7;
    max-height: 298px;
    position: relative;
    margin: auto;
}

.assignfeedback_cloudpoodll_transcript-line {
    position: relative;
    padding: 5px;
    cursor: pointer;
    line-height: 1.3;
}

.assignfeedback_cloudpoodll_transcript-line:nth-child(odd) {
    background-color: #f5f5f5;
}

.assignfeedback_cloudpoodll_transcript-timestamp {
    position: absolute;
    display: inline-block;
    color: #333;
    width: 50px;
}

.assignfeedback_cloudpoodll_transcript-text {
    display: block;
    margin-left: 50px;
}

.assignfeedback_cloudpoodll_transcript-line:hover,
.assignfeedback_cloudpoodll_transcript-line:hover .assignfeedback_cloudpoodll_transcript-timestamp,
.assignfeedback_cloudpoodll_transcript-line:hover .assignfeedback_cloudpoodll_transcript-text {
    background-color: #777;
    color: #e7e7e7;
}

.assignfeedback_cloudpoodll_transcript-line.is-active,
.assignfeedback_cloudpoodll_transcript-line.is-active .assignfeedback_cloudpoodll_transcript-timestamp,
.assignfeedback_cloudpoodll_transcript-line.is-active .assignfeedback_cloudpoodll_transcript-text {
    background-color: #555;
    color: #e7e7e7;
    width: auto;
}

.assignfeedback_cloudpoodll_currentsubmission {
    display: grid;
}

.assignfeedback_cloudpoodll_togglecontainer .togglebutton,
.assignfeedback_cloudpoodll_togglecontainer .toggletext {
    cursor: pointer;
}
.assignfeedback_cloudpoodll_togglecontainer .toggletext {
    padding: 5px;
}

.assignfeedback_cloudpoodll_togglecontainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.assignfeedback_cloudpoodll_problembox {
    /* do something interesting perhaps */
}

.assignfeedback_cloudpoodll_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.assignfeedback_cloudpoodll_video_cont {
    position: relative;
    height: 0;
    max-width: 480px;
}

.assignfeedback_cloudpoodll_audio {
    width: 100%;
    min-width: 240px;
}

.assignfeedback_cloudpoodll_audio_cont {
    width: 100%;
    max-width: 480px;
}


@supports (padding-top: min(540px,150%)) {

    .assignfeedback_cloudpoodll_video_cont {
        padding-bottom: min(360px,75%);
    }
}
@supports not (padding-top: min(540px,150%)) {

    .assignfeedback_cloudpoodll_video_cont {
        padding-bottom: 360px;
    }
}

@media screen and (max-width: 667px) {

    .assignfeedback_cloudpoodll_video_cont {
        padding-bottom: 75%;
    }
}

/* this is not set on some themes and can collapse our responsive stuff */
.form-control-static {
    width: 100%;
}

.assignfeedback_cloudpoodll_feedbackcontainer {
    margin-top: .5rem;
    margin-bottom: 0.5rem;
}
.assignfeedback_cloudpoodll_feedbackcontainer #fitem_id_feedbacktext > .col-md-3 {
    margin-bottom: 0;
    border-width: 0;
}
.assignfeedback_cloudpoodll_feedbackcontainer #fitem_id_feedbacktext > .col-md-9 {
    margin-top: 0;
    padding-top: 0;
}
.togglerecorder .togglerecorder {
    display: none;
}
[data-groupname="recorders"] .togglerecorder.form-check {
    padding: .4rem .9rem;
    font-size: 2rem;
    box-sizing: border-box;
    background-color: #cfe2f2;
    border: .2rem solid transparent;
}
[data-groupname="recorders"] .togglerecorder.enabledstate {
    border-color: black;
}
.assignfeedback_cloudpoodll_rtl {
    direction: rtl;
    text-align: right;
}
.assignfeedback_cloudpoodll_rtl .assignfeedback_cloudpoodll_transcript-text {
    margin-left: 0px;
    margin-right: 50px;
}
.assignfeedback_cloudpoodll_audio_cont {
    width: 100%;
    max-width: 480px;
}

.asf_cp_grading_passageword.asf_cp_aicorrected,
.asf_cp_grading_passagespace.asf_cp_aicorrected {
    background-color: lightpink;
}

.asf_cp_grading_passageword.asf_cp_aiomitted, .asf_cp_grading_passagespace.asf_cp_aiomitted {
    text-decoration: line-through;
}

.asf_cp_grading_passageword.asf_cp_aiunmatched {
    /*background-color: lightgrey;*/
}

.asf_cp_grading_passagespace.asf_cp_aiunmatched {
    /*background-color: lightgrey;*/
    text-decoration: underline #0000FF;
    font-weight: bold;
}
.asf_cp_corrections {
    text-align: left;
    font-style: normal;
}

span.asf_cp_corrections_suggestedword {
    font-weight: bold;
    background-color: lightgreen;
}

span.asf_cp_corrections_omittedword {
    font-weight: bold;
    background-color: lightgreen;
    word-spacing: 5px;
}

.asf_cp_grading_passagecont.asf_cp_summarytranscriptplaceholder,.asf_cp_corrections_cont {
    border: 1px grey solid;
    padding: 3px;
    margin-bottom: 10px;
}
.asf_cp_fetchsubmissionbutton, .asf_cp_checkgrammarbutton  {
    margin-bottom: 5px;
    margin-top: 5px;
}