<div class="asf_cp_correctionspreview_cont" style="display: none">
    {{#str}}previewtext_instructions, assignfeedback_cloudpoodll{{/str}}
    <span class="asf_cp_correctionspreview_anim" id="asf_cp_correctionspreview_anim" style="display: none">
        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    </span>
    <div class="asf_cp_corrections_cont" id="id_differencediv">
    </div>
</div>
