<h5>{{#str}}correctionstitle, assignfeedback_cloudpoodll{{/str}}</h5>
{{#str}}submittedtext, assignfeedback_cloudpoodll{{/str}}
{{{submittedtext}}}
 {{#str}}correctedtext, assignfeedback_cloudpoodll{{/str}}
<div class="asf_cp_corrections_cont">
{{{correctedtext}}}
</div>
