<a class="btn btn-secondary asf_cp_fetchsubmissionbutton fetchsubmissiontrigger" id="asf_cp_fetchsubmissionbutton"
   data-target="#id_submittedtext" href="#">
    {{#str}}fetchsubmittedtext, assignfeedback_cloudpoodll{{/str}}
</a>
